<% for column in Favorite.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @favorite.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @favorite %> |
<%= link_to 'Back', :action => 'list' %>
